@import 'tailwindcss/base';
@import 'tailwindcss/components';
@layer components {
  .p__cormorant {
    @apply font-base text-white font-bold tracking-[0.04em] capitalize leading-7 text-[19px] md:text-[23px];
  }
  .p__opensans {
    @apply font-sans text-white font-normal tracking-[0.04em] capitalize leading-7 text-[12px] sm:text-[16px];
  }
  .section-padding {
    @apply py-16 px-8 sm:p-16 md:px-24;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .app-bg {
    @apply bg-center bg-cover bg-repeat bg-fixed bg-[url('/assets/bg.png')];
  }
}

@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-weight: 400;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
